@page
@model net_on_the_web.Pages.HelloWebModel
@{
}

<p>@Model.Message the time is @DateTime.Now</p>

<table class="table-striped col-6">
    <thead>
    <th>Name</th>
    <th>Student Id</th>
    <th>Class</th>
    </thead>
    @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Id</td>
                <td>@student.Class.Name</td>
            </tr>
        }
</table>


